@use "../abstracts/variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  border-radius: 8px;
  background-color: variables.$button;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  color: variables.$ck-font;
  text-align: left;
}

.form-input {
  padding: 8px 12px;
  height: 40px;
  border: 1px solid variables.$lines;
  box-shadow: 1px 1px 15px rgb(228, 225, 225);
  border-radius: 4px;
  font-size: 16px;
  background-color: variables.$button;
}

.form-input:focus,
.textarea:focus {
  outline: none;
  border-color: variables.$accent;
}
.textarea {
  height: 100px;
  font-size: 16px;
  border: 1px solid variables.$lines;
  background-color: variables.$button;
}

.form-button {
  padding: 12px 24px;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: variables.$ck-font;
  background-color: variables.$button;
  border: 1px solid variables.$lines;
  box-shadow: 1px 1px 15px rgb(228, 225, 225);
  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  background-color: rgba(231, 231, 239);
  border: 1px solid rgb(206, 123, 145, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}
@media screen and (max-width: 950px) {
  .form {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
