@use "../abstracts/variables";

//Button projects

.project-link {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: variables.$ck-font;

  background-color: variables.$button;
}
.project-link:hover,
.project-link:focus,
.project-link:active {
  color: variables.$accent;
}
