@use "../abstracts/variables";
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: variables.$ck-font;
}

.section {
  padding: 100px 80px 80px 80px;
  background-color: variables.$background;
}