@use "../abstracts/variables";

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
}

.social {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  opacity: 0;
  transform: translateX(100%);
  animation: slide-in 1s forwards;
}
.social svg:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
  fill: variables.$accent;
}

.social:nth-of-type(2) {
  animation-delay: 0.2s;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .social {
    margin-right: 0px;
  }
  .social svg {
    width: 60px;
  }
}

@media screen and (max-width: 550px) {
  .socials {
    gap: 10px;
    flex-direction: row;
    align-items: flex-end;
    height: 15vh;
    margin-left: 35px;
  }
  a.social {
    margin: 0;
  }
  .social svg {
    width: 40px;
  }
}